// spin
@keyframes spin {
    to { transform: rotate(360deg); }
}

// fadeOut
@keyframes fadeOut {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

// fadeInFromLeft
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}