@import "_variables.scss"; // Variables

// Common styles
@mixin common {
    * {
        font-family: $font-txt;
        box-sizing: border-box;
        a {
            text-decoration: none;
        }
        h1 {
            font-family: $font-title;
        }
    }
    body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    width: 100%;
    }
}

// Header
@mixin header {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 5rem;
        gap: 2.5rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        z-index: 1;
        h1 { // Logo
            font-family: $font-title;
            font-size: 1.875rem;
            font-weight: 400;
            display: block;
            margin: 0 auto;
        }
        i {
            font-size: 1.5rem;
        }
        a:visited {
            color: black;
        }
    }
}

// CTA
@mixin cta {
    .cta {
        background: $gradient-btn;
        border: 0;
        border-radius: 1.5rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        height: 3.125rem;
        width: 13.625rem;
        // Text
        color: white;
        text-align: center;
        font-size: 1rem;
        transition: background 300ms ease-in-out;
        &:hover {
            background: linear-gradient(lighten($secondary-color,5%), lighten($primary-color,5%));
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);            
        }
    }
}

// Heart
@mixin heart {
    .heart {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        margin-right: 1.5rem;
        &--empty {
            position: absolute;
            color: black;
        }
        &--full {
            position: absolute;
            opacity: 0;
            background: linear-gradient($secondary-color, $primary-color);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transition: all 400ms;
        }
        &:hover &--empty {
            opacity: 0;
        }
        &:hover &--full {
            opacity: 1;
        }
    }
}

// Footer
@mixin footer {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.3rem 1.5rem;
        gap: 0.5rem;
        width: 100%;
        background-color: $grey;
        &__title {
            h1 { // Logo blanc
                font-family: $font-title;
                font-size: 1.125rem;
                font-weight: 400;
                color: white;     
                padding: 0;
                margin: 0 0 0.5rem 0;
            }
        }
        &__container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            &--liens { // Liens common styles
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 1rem;
                font-weight: 400;
                &__strong { // Partenaire + Proposer un restaurant
                    font-weight: 500;
                }
                a {
                    color: white;
                    i { // Icones
                        width: 0.7rem;
                        height: 0.8rem;
                        font-size: 13px;
                        margin-right: 0.7rem;
                    }
                }
            }
        }
    }
}