@import "partials/_variables.scss"; // Variables
@import "partials/_mixins.scss"; // Mixins
@import "partials/_keyframes.scss"; // Keyframes

@include common; // Common styles
@include cta; // CTA common styles
@include heart; // Heart common styles

// Loader
@include loader; // Loader common styles

// Header
@include header; // Header common styles
header {
    padding: 0.8rem 5rem 0.8rem 1.2rem;
}

// Header & footer max-width: 100%
header,
footer {
    max-width: 100%;
}

// Image du restaurant
img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    object-position: 50% 70%;
    @media (min-width: 1024px) {
        height: 20rem;
        object-position: 50% 60%;
    }
}

// Menu
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1055px;
    background-color: $light-grey2;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    padding: 0 0.8rem;
    position: relative;
    top : -4rem;
    margin: 0 auto;
    margin-bottom: -4rem;
    &__title {
        display: flex;;
        gap: 1.5rem;
        align-self: center;
        padding: 2rem 0 0 0.5rem;
        @media (min-width: 634px) {
            gap: 3rem;
        }
        h2 {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: $font-title;
        }
    }
    .plats {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 634px;
        gap: 0.75rem;
        &__title {
            margin: 2.5rem 0 0 0;
            font-size: 1rem;
            font-weight: 300;
            text-align: left;
            text-transform: uppercase;
            &::after {
                content: "";
                display: block;
                width: 2.5rem;
                height: 3px;
                background-color: $tertiary-color;
                margin-top: 0.5rem;
            }
            /*** Animation titres ***/
            @for $i from 1 through 13 {
                &:nth-child(#{$i}) {
                    animation: fadeInFromLeft 0.5s ease-out #{0.1s * ($i - 2)} backwards;
                }
            }
        }
        .card {
            display: flex;
            height: 4.3rem;
            background-color: white;
            border-radius: 1rem;
            box-shadow: $menu-shadow;
            overflow: hidden;
            &-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                min-width: 0;
                padding: 0.9rem;
                gap: 0.3rem;
                &__txt {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                    min-width: 0;
                    &--plat, &--desc { // Styles communs
                        margin: 0;
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }                    
                    &--plat {
                        font-size: 15px;
                        font-weight: 500;
                        @media (min-width: 634px) {
                            font-size: 18px;
                        }
                    }
                    &--desc {
                        font-size: 12px;
                        font-weight: 300;  
                        @media (min-width: 634px) {
                            font-size: 15px;
                        }
                    }
                }
                &__price {
                    color: $grey;
                    align-self: flex-end;
                    font-size: 15px;
                    font-weight: 700;
                }
            } 
            /*** Animations plats ***/
            @for $i from 2 through 13 {
                &:nth-child(#{$i}) {
                    animation: fadeInFromLeft 0.5s ease-out #{0.1s * ($i - 2)} backwards;
                }
            }
            &-check {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                margin-right: -70px;
                overflow: hidden;
                background-color: $tertiary-color;
                transition: margin-right 0.2s ease-in-out;
                i {
                    color: white;
                    font-size: 1.3rem;
                }
            }
            &:hover .card-check {
                margin-right: 0;
            }
        }
    }
    .cta {
        margin: 2.5rem 0;
    }
}

// Footer
@include footer; // Footer common styles