@import "partials/_variables.scss"; // Variables
@import "partials/_mixins.scss"; // Mixins

@include common; // Common styles
@include cta; // CTA common styles
@include heart; // Heart common styles



// Header
@include header; // Header common styles
header {
    padding: 0.8rem 5rem 0.8rem 1.2rem;
}
// Image du restaurant
img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    object-position: 50% 70%;
}

// Menu
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1055px;
    background-color: $light-grey2;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    padding: 0 0.8rem;
    position: relative;
    top : -4rem;
    margin: 0 auto;
    margin-bottom: -4rem;
    &__title {
        display: flex;;
        gap: 3rem;
        align-self: center;
        padding: 2rem 0 0 0.5rem;
        h1 {
            margin: 0;
            font-size: 1.75rem;
            font-weight: 400;
        }
    }
    .plats {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 634px;
        gap: 0.75rem;
        &__title {
            margin: 2.5rem 0 0 0;
            font-size: 1rem;
            font-weight: 300;
            text-align: left;
            text-transform: uppercase;
            &::after {
                content: "";
                display: block;
                width: 2.5rem;
                height: 3px;
                background-color: $tertiary-color;
                margin-top: 0.5rem;
            }
        }
        .card {
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 1rem;
            box-shadow: $menu-shadow;
            &-content {
                display: flex;
                align-items: flex-end;
                padding: 0.9rem;
                gap: 0.3rem;
                flex: 1 0 0;
                &__txt {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 0.3rem;
                    flex: 1 0 0;
                    &--plat, &--desc { // Styles communs
                        margin: 0;
                        text-align: left;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: calc(98%); // Largeur avant overflow
                    }                    
                    &--plat {
                        font-size: 0.98rem;
                        font-weight: 500;
                    }
                    &--desc {
                        font-size: 0.77rem;
                        font-weight: 300;  
                    }
                }
                &__price {
                    color: $grey;
                    font-size: 0.9rem;
                    font-weight: 700;
                    flex-shrink: 0;
                }
            }
        }
    }
    .cta {
        margin: 2.5rem 0;
    }
}

// Footer
@include footer; // Footer common styles

/*************** Media queries *****************/
/******* Medium devices ********/
@media (min-width: 768px) {

    // Menu
    .menu .plats .card-content__txt--plat {
        font-size: 1.2rem;
}
    .menu .plats .card-content__txt--desc {
        font-size: 1rem;
}

    // Footer
    .footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 3rem 3rem 1.8rem 0;
        gap: 4rem;
        &__title {
            h1 {
                margin: 0;
            }
        }
        &__container {
            flex-direction: row;
            gap: 2rem;
            &--liens { // Liens common styles
                flex-direction: row;
                gap: 0.7rem;
                font-size: 0.8rem;
            }
        }
    }
}

/********** Laptop ************/
@media (min-width: 1024px) {
    // Image du restaurant
    img {
        height: 25rem;
        object-position: 50% 60%;
    }
}