@import "partials/_variables.scss"; // Variables
@import "partials/_mixins.scss"; // Mixins
@import "partials/_keyframes.scss"; // Keyframes

@include common; // Common styles
@include cta; // CTA common styles
@include heart; // Heart common styles

// Loader
@include loader; // Loader common styles

// Header
@include header; // Header common styles

// Location
.location {
    display: flex;
    background-color: $light-grey;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &__btn { // Location button
        border: 0;
        background-color: $light-grey;
        i {
            font-size: 1rem;
        }
    }
    &__search {
        font-size: 1rem;
        font-weight: 500;
        color: $grey;
        background-color: $light-grey;
        width: 9rem;
        border: 0;
    }
}

// Explorer nos restaurants
.explorer__section {
    text-align: center;
    background-color: $light-grey2;
    &--title {
        margin: 0 0.5rem;
        padding-top: 2rem;
        @media (min-width: 768px) {
            font-size: 2rem;
            margin: 2rem 0 1.5rem 0;
        }
    }
    p {
        font-size: 1.125rem;
        font-weight: 300;
        color: $grey;
        margin: 0.5rem 1.5rem 1.5rem 1.5rem;
    }
    .cta {
        margin: 0 0 3.5rem 0;
        @media (min-width: 768px) {
            margin: 0 5rem 2rem 5rem;
        }
    }
}

// Fonctionnement
.fonctionnement__section {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--title {
        text-align: left;
        margin: 3rem 0 1.25rem 1.25rem;
        @media (min-width: 768px) {
            margin: 3rem 0 1.25rem 3rem;
            align-self: flex-start;
        }
        @media (min-width: 1024px) {
            margin: 3rem 0 1.5rem 5rem;
        }
        @media (min-width: 1440px) {
            margin: 3rem 0 1.5rem 12rem;
        }
    }
    .fonctionnement {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 4.25rem;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin-bottom: 3rem;
        }
        @media (min-width: 1024px) {
            width: 85%;
        }
        @media (min-width: 1440px) {
            width: 75%;
            gap: 2rem;
        }
        &__etape {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 1.25rem;
            height: 4.5rem;
            background-color: $light-grey2;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            margin: 0 1.2rem 0 2rem;
            @media (min-width: 768px) {
                position: relative;
                margin: 0;
                font-size: 0.9rem;
                width: 35%;
            }
            @media (min-width: 1024px) {
                font-size: 1rem;
                padding: 0 1.8rem 0 0;
            }
            &--number {
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $primary-color;
                color: white;
                font-size: 0.8rem;
                position: absolute;
                left: 1.25rem;
                @media (min-width: 768px) {
                    position: absolute;
                    top: 50%;
                    left: -0.75rem;
                    transform: translateY(-50%);
                }
            }
            &--icon {
                font-size: 1.2rem;
                color: darken($light-grey2 , 47);
                margin-left: 2rem;
                @media (min-width: 768px) {
                    margin-left: 1.5rem;
                }
            }
            &:nth-child(3) i { // 3ème icône
                color: $primary-color;
            }
            &--txt {
                font-weight: 500;
                margin-left: 1.6rem;
                @media (min-width: 768px) {
                    margin-left: 0.6rem;
                    margin-right: 0.3rem;
                }
                @media (min-width: 1024px) {
                    margin-left: 1rem;
                }
            }
        }
    }
}

// Restaurants
.restaurants__section {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem 4rem 0rem;
    gap: 1rem;
    align-items: center;
    background-color: $light-grey2;
    @media (min-width: 768px) {
        padding: 1rem 0rem 2rem 0rem;
    }
    &--title {
        margin: 2rem 0 0.25rem 1.25rem;
        align-self: flex-start;
        @media (min-width: 768px) {
            margin: 2rem 0 0.25rem 3rem;
        }
        @media (min-width: 1024px) {
            margin: 1rem 0 0.25rem 5rem;
        }
        @media (min-width: 1440px) {
            margin: 1rem 0 0.25rem 12rem;
        }
    }
    .restaurants__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem 0;
        width: 95%;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
        }
        @media (min-width: 1024px) {
            width: 85%;
            gap: 2.5rem 0;
        }
        @media (min-width: 1440px) {
            width: 75%;
        }
        a {
            width: 100%;
            @media (min-width: 768px) {
                width: 46%;
            }
            .card {
                display: flex;
                flex-direction: column;
                border-radius: 1rem;
                background-color: white;
                @media (min-width: 768px) {
                    position: relative;
                }
                &__imgcontainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 10rem;
                    width: 100%;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                        object-position: 50% 80%;
                        height: 100%;
                        width: 100%;
                        border-top-right-radius: 1rem;
                        border-top-left-radius: 1rem;
                    }
                }
                .nouveau {
                    // Texte
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $green-font;
                    // Box
                    width: 5rem;
                    height: 1.8125rem;
                    border-radius: 0.125rem;
                    background-color: $tertiary-color;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                    position: absolute;
                    right: 1.5rem;
                    @media (min-width: 768px) {
                        right: 1rem;
                    }
                }
                &__content {
                    display: flex;
                    justify-content: space-between;
                    text-align: left;
                    color: black;
                    padding: 1rem 1rem 0.7rem 0.8rem;
                    &--txt {
                        display: flex;
                        flex-direction: column;
                        gap: 0.3rem;
                    }
                    &--title {
                        font-size: 1.125rem;
                        font-weight: 700;
                        margin: 0;
                    }
                    &--location {
                        font-weight: 300;
                        margin: 0;
                    }
                }
            }
        }
        a:nth-of-type(2) img { // 2ème image
            object-position: 50% 60%;
        }
    }
}

// Footer
@include footer; // Footer common styles